body{
	background-color: #FFF;
	font-family:"Heiti TC";
}

/* Background Settings
{
	background:url(../img/xxx.png) bottom center no-repeat;
	background-color: #FFF;
	height:000px;
	position:relative;
}

{
	background:url(../img/xxx.png);
	background-position: center center;
    background-repeat: none;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-color: #FFF;
	height:000px;
	position:relative;
}
*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	
	
	
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
    
}